/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

a {
    text-decoration: none;
    color: rgb(31, 82, 82);
} */

/* a:hover {
    color: rgb(1, 14, 14);
} */

/* ul {
    list-style: none;
    padding: 0%;
} */

/* .div-button {
    display: flex;
    justify-content: center;
}

.button {
    color: rgb(12, 41, 46);
    background-color: #bbdbab;
    margin: 10px;
    padding: 8px 12px;
    border: 1px solid  #93C47D;
    border-radius: 8px;
}

.button--small {
    padding: 5px 4px;
}

.button:hover {
    color: #15676d;
    background-color: rgb(206, 223, 223);
    border: 1px solid  #15676d;
    transition: all 1s;
} */

/* p.promo__txt {
    font-size: .7rem;
    background-color:#93C47D;
    margin: 0px;
    padding: .35rem;
} */

.icon--medium {
    max-width: 40px;
    margin: 2%;
}

.icon--small {
    max-width: 2vh;
    margin: 0px 5px;
}

/* .logo {
    margin-left: 2%;
    max-width: 120px;
} */

/* --- HEADER Y FOOTER--- */

/* .footer {
    margin-top: 8vh;
    background-image: linear-gradient(to right, white, rgb(30, 187, 226));
}

.footer__breadcrumbs li+li:before {
    padding: 4px;
    color: rgb(28, 55, 66);
    content: "►";
}

.footer__breadcrumb {
    display: inline;
} */

.datos-contacto {
    width: 100%;
}

/* 
@media screen and (max-width: 768px){
    .search {
        display: none;
    }

    .header--lg {
        display: none;
    }
} */

@media screen and (min-width: 768px){
/* 
    .header--lg {
        background-image: linear-gradient(to right, white, rgb(30, 187, 226));
    }
    
    .search {
        margin-left: 2%;
    }

    .datos-contacto{
        width: 40%;
    } */
/* 
    .search, .datos-contacto {
        display:flex;
        flex-direction: column;
        align-items: flex-end;
    } */
/* 
    .search__label, .search__input {
        display: flex; */
    }

    .search__label {
        font-size: 0.8rem;
    }

    /* .search__input {
        font-size: 0.7rem;
    } */
 

/* @media screen and (min-width:1200px){
    .datos-contacto, .socialmedia {
        width: 25%;
    }
} */


/* --- NAV --- */

/* @media screen and (max-width: 768px) {
    .container-fluid {
        padding: 0px 0px;
    }
    
    .nav--lg {
        display:none;
    }    
    
    .nav--sm {    
        background-image: linear-gradient(to right, white, rgb(30, 187, 226));
        box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
    }

    .nav__item {
        text-align: center;
    }

    .nav-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (min-width: 769px){
    .nav--lg {
        display: block;
        background-color: rgb(245, 244, 244);
    }

    .nav--lg ul{
        display: flex;
        justify-content: space-evenly;
        margin: 0vw 5vw;
        padding: 1vh;
    }
    .nav__item {
        padding: 2px;
    }
        
    .nav__item:hover {
            background-color:rgb(206, 223, 223);
            padding: 2px;
    }    
}

@media screen and (min-width: 769px) {

    .nav--sm {
        display: none;
    }
} */

/* --- SLIDER --- */

/* .slider {
    margin-top: 2rem;
    width: 100%;
    overflow: hidden;
}

.slider__ul {
    display:flex;
    padding: 0;
    width: 300%;
    animation: slider 12s infinite;
    animation-direction: alternate;
}

@keyframes slider {
    0% {margin-left: 0%;}
    30% {margin-left: 0%;}

    35% {margin-left: -100%;}
    65% {margin-left: -100%;}

    70% {margin-left: -200%;}
    100% {margin-left: -200%;}
}


.slider__item{
    list-style: none;
    width:100%;
}

.slider__img {
    width:100%;
} */

/* --- INICIO --- */

/* .text-highlight {
    color: rgb(57, 172, 172);
    font-weight: 800;
}

.home-text {
    margin-top: 1vh;
    background-color: #94c47d2d;
    padding: .5rem;
}

.home-text-shadow {
    animation:home-text-shadow .4s cubic-bezier(.25,.46,.45,.94) both;
}

@keyframes home-text-shadow {
    0%{
        transform:translateZ(0);
        box-shadow:0 0 0 0 transparent;
    }
    100%{
        transform:translateZ(50px);
        shadow:0 0 20px 0 rgba(0,0,0,.35);
        box-shadow:0 0 20px 0 rgba(0,0,0,.35);
    }
}

.home__title {
    margin-top: 1rem;
    color: rgba(31, 82, 82, 0.945);
    font-size: 1.8rem;
    text-align:center;
    font-weight: 400;
    text-shadow: 4px 3px 0px #7a7a7a3d;
}

.focus-in-contract {
	animation: focus-in-contract 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-contract {
    0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
    }
    100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
    }
} */

/* .home__subtitle {
    color: black;
    font-size: .95rem;
    text-align: center;
    margin: 3%;
}

.home {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.home__article {
    padding: 2px;
    border: #93C47D solid 1px;
    margin: 10px;
    max-width: 300px;
    min-height: 300px;
}


.article__img {
    position: absolute;
    width: 294px;
    opacity: .8;
}

.article__description {
    width: 294px;
    height: 294px;
    position: relative;
    color:#ffffff;
    animation:  background 5s infinite;
} */

/* @keyframes background {
    0% {background-color: #0fccda2d;}
    50% {background-color: #ffffff2c;}

    50% {background-color: #ffffff2c;}
    100% {background-color: #0fccda2d;}
}

.article__title {
    font-size: 1.2rem;
    padding: 3rem;
    text-decoration: underline;
    text-align: center;
    animation: titulo 5s infinite;
}

.article__title a {
    color:#ffffff;
    animation:  titulo 5s infinite;
}

@keyframes titulo {
    0% {color: #ffffff;}
    50% {color: #061516;}

    50% {color: #061516;}
    100% {color: #ffffff;}
} */

/* .article__txt {
    text-align: center;
    font-size: .8rem;
    color:#ffffff;
    font-weight: 400;
    line-height: 1.3rem;
} */


/* @media screen and (min-width:1200px) {
    .home-lg {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10vh;
    }

    .home-text{
        align-self: center;
        margin: 50px;
        padding: 20px;
    }
} */

/* --- QUIENES SOMOS --- */

.main__section {
    text-align: center;
}

.main__title {
    color: rgb(31, 82, 82);
    background-color: #c6ddba;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 1vh 0vw;
    border: #93C47D;
    border-radius: 5px;
    font-size: 1.2rem;
}

.main__title--small {
    font-size: .9rem;
}

.main__p {
    font-size: .9rem;
    margin: 1.5rem;
    line-height: 1.5rem;
}

.main__p--justify {
    text-align: justify;
    padding-left: 1vw;
}

/* .main__cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 3vh 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(236, 236, 236);
}

.card--small {
    padding: 1.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vh 0vh;
}

.card--small__text{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 40%;
}

.card__title {
    margin:1rem;
    width: 100%;
    color: rgb(31, 82, 82);
}

.card__title--small {
    font-size: 1rem;
    margin: 0px;
}

.card__img {
    width: 60%;
    border-radius: 15px;
}

.card__img--small {
    min-width: 50%;
    max-width: 50%;
}

.card__text {
    margin: 2rem;
    width: 70%;
    font-size: 1rem;
} */

/* @media screen and (min-width:480px){
    .main__cards {
        justify-content: space-around;
    }
    
    .card--small {
        max-width: 45%;
        flex-direction: column;
    }

    .card__img--small {
        min-width: 90%;
        max-width: 90%;
    }

    .card--small__text{
        display: flex;
        width: 90%;
    }

    .card__title--small {
        min-height: 2.2rem;
        margin-top: 5%;
    }
} */

/* 
@media screen and (min-width: 768px) {

    .main__cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        max-width: 300px;
        margin: 2vh 2vw;
    }

    .card__title--small {
        font-size: 1.5rem;
        margin-top: 5%;
    }

} */

.map {
    margin-top: 3vh;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
}
.map__iframe {
    width: 90vw;
    height: 35vh;
    margin: auto;
}

/* --- FAQS --- */

.faqs__intro, .pedido-p {
    color: rgb(31, 82, 82);
    margin-top: 3vh;
    margin-bottom: 2vh;
    padding: 1vh 1vw;
}

.faqs__title {
    margin-bottom: 1vh;
    font-size: 1.3rem;
}
.faqs__p, .pedido-p {
    font-family: 'Great Vibes', cursive;
    font-size: 1.5rem;
    text-align: center;
    padding: 1vh 5vw;
}

.pedido-p {
    text-align: end;
}

/* --- HACE TU PEDIDO --- */


.aside {
    margin-right: 3%;
}


.main__title--verysmall {
    margin-top: 0;
    font-size: .8rem;
    display: inline;
    padding: 10px;
    text-align: left;
}

.contact__section--1 {
    width: 60%;
}

@media screen and (min-width: 768px) {
    .contact__section {
        width: 100%;
    }
}

.datos-contacto--small {
    padding: 5%;
    font-size: .8rem;
    text-align: left;
}

.input {
    margin: 1vh 0vw;
    width: 100%;
}

.div-selection {
    display: flex;
    justify-content: space-between;
}

.div-select, .div-number{
    font-size: .8rem;
    width: 50%;
}

.div-number {
    width: 40%;
}


.input-select, .input-number {
    width: 100%;
    margin: 0%;
    font-size: .8rem;
}

.button--submit {
    width: fit-content;
}

