@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}

a {
  text-decoration: none;
  color: rgba(31, 82, 82, 0.945);
}
a:hover {
  color: rgb(1, 14, 14);
}

ul {
  list-style: none;
  padding: 0%;
}

.footer {
  margin-top: 8vh;
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(30, 187, 226));
}

.footer__breadcrumb {
  display: inline;
}
.footer__breadcrumb + li:before {
  padding: 4px;
  color: rgb(28, 55, 66);
  content: "►";
}

p.promo__txt {
  font-size: 0.9rem;
  background-color: rgb(147, 196, 125);
  margin: 0px;
  padding: 0.35rem;
}

.logo {
  margin-left: 2%;
}

@media screen and (max-width: 768px) {
  .search, .header--lg {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header--lg {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(30, 187, 226));
  }
  .search, .datos-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .search {
    margin-left: 2%;
  }
  .search .search__label, .search .search__input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 0.7rem;
  }
  .search .search__label {
    color: rgba(31, 82, 82, 0.945);
  }
  .datos-contacto {
    width: 40%;
  }
}
@media screen and (min-width: 1200px) {
  .datos-contacto, .socialmedia {
    width: 25%;
  }
}
.nav {
  padding: 0px 0px;
}

@media screen and (max-width: 768px) {
  .nav--lg {
    display: none;
  }
  .nav--sm {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(30, 187, 226));
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
  }
  .nav--sm nav ul li {
    text-align: center;
  }
  .nav--sm nav form {
    text-align: center;
  }
}
@media screen and (min-width: 769px) {
  .nav--sm {
    display: none;
  }
  .nav--lg {
    display: block;
    background-color: rgb(245, 244, 244);
  }
  .nav--lg ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin: 0vw 5vw;
    padding: 1vh;
  }
  .nav--lg ul li {
    padding: 2px;
  }
  .nav--lg ul li:hover {
    background-color: rgb(206, 223, 223);
    border: rgb(206, 223, 223) 1px solid 1%;
    border-radius: 15%;
    padding: 2px 4px;
    transition: all 1s;
  }
}
.div-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.button {
  color: rgb(12, 41, 46);
  background-color: rgb(187, 219, 171);
  margin: 10px;
  padding: 8px 12px;
  border: 1px solid rgb(147, 196, 125);
  border-radius: 8px;
}
.button:hover {
  color: rgb(21, 103, 109);
  background-color: rgb(206, 223, 223);
  border: 1px solid rgb(21, 103, 109);
  transition: all 1s;
}

.button--close {
  color: rgb(1, 14, 14);
  background-color: rgb(245, 244, 244);
  border: 1px solid rgb(128, 128, 128);
}
.button--close:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(128, 128, 128);
  border: 1px solid rgb(1, 14, 14);
}

.button--small {
  padding: 5px 4px;
}

.main__cards {
  display: flex;
  flex-wrap: wrap;
}
.main__cards .card {
  margin: 3vh 0vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 1px solid rgb(236, 236, 236);
}
.main__cards .card .card__text {
  margin: 1rem;
  width: 80%;
  font-size: 1rem;
  text-align: justify;
}
.main__cards .card--small {
  padding: 1.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2vh 0vh;
  border: none;
}
.main__cards .card--small .card--small__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 40%;
}
@media screen and (min-width: 768px) {
  .main__cards .card--small .card--small__text {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .main__cards .card--small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
.main__cards .card__title {
  margin: 1rem;
  width: 100%;
  color: rgba(31, 82, 82, 0.945);
}
.main__cards .card__title--small {
  font-size: 1rem;
  margin: 0rem;
}
.main__cards .card__price {
  color: rgba(31, 82, 82, 0.945);
}
.main__cards .card__img {
  width: 70%;
  border-radius: 15px;
}
.main__cards .card__img--small {
  min-width: 50%;
  max-width: 70%;
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
  .main__cards {
    justify-content: space-around;
  }
  .card--small {
    max-width: 45%;
    flex-direction: column;
  }
  .card__img--small {
    min-width: 90%;
    max-width: 90%;
  }
  .card--small__text {
    width: 90%;
  }
  .card__title--small {
    min-height: 1.5rem;
    margin-top: 5%;
  }
}
@media screen and (min-width: 480px) {
  .main__cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .card {
    max-width: 350px;
    margin: 2vh 2vw;
  }
  .card__title--small {
    font-size: 1.5rem;
    margin-top: 5%;
  }
}
@media screen and (min-width: 600px) {
  .card {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .card {
    max-width: 300px;
  }
}
.div-selection .div-number, .div-selection .div-select {
  font-size: 0.8rem;
  width: 50%;
}

.div-selection .div-number .input-number, .div-selection .div-select .input-select {
  width: 100%;
  margin: 0%;
  font-size: 0.8rem;
}

.input-select {
  padding-left: 5%;
  background: rgba(198, 221, 186, 0.39);
}

.map {
  margin-top: 3vh;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.map .map__iframe {
  width: 90vw;
  height: 35vh;
  margin: auto;
}

.modal-header {
  background-color: rgb(198, 221, 186);
  justify-content: center;
}
.modal-header .main__title {
  margin: 0%;
}

.modal-body div p {
  color: rgba(31, 82, 82, 0.945);
  margin: auto 0%;
  font-size: 1rem;
  padding: 0%;
}
.modal-body div img {
  padding: 0%;
}

.slider {
  margin-top: 2rem;
  width: 100%;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0%;
  width: 300%;
  animation: slider 12s infinite;
  animation-direction: alternate;
}
.slider ul li {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.slider ul li img {
  width: 100%;
  max-width: 650px;
}

@keyframes slider {
  0% {
    margin-left: 0%;
  }
  30% {
    margin-left: 0%;
  }
  35% {
    margin-left: -100%;
  }
  65% {
    margin-left: -100%;
  }
  70% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}
.pedido-p, .faqs__intro {
  color: rgba(31, 82, 82, 0.945);
  margin-top: 3vh;
  margin-bottom: 2vh;
  padding: 1vh 1vw;
}

.pedido-p, .faqs__intro .faqs__p {
  font-family: "Great Vibes", cursive;
  font-size: 1.5rem;
  text-align: center;
  padding: 1vh 5vw;
}

.text-shadow {
  animation: home-text-shadow 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes home-text-shadow {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    transform: translateZ(50px);
    shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  }
}

.text-contract {
  animation: focus-in-contract 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.main__title {
  color: rgba(31, 82, 82, 0.945);
  background-color: rgb(198, 221, 186);
  margin-top: 3vh;
  margin-bottom: 3vh;
  padding: 1vh 0vw;
  border: rgb(147, 196, 125);
  border-radius: 5px;
  font-size: 1.2rem;
}

.main__title--nobackgr {
  background-color: transparent;
}

.main__title--small {
  font-size: 0.9rem;
}

.main__title--verysmall {
  margin: 0 10px;
  font-size: 0.8rem;
  display: inline;
  padding: 3px 10px;
  text-align: center;
  background-color: rgba(198, 221, 186, 0.39);
}

.home-text {
  margin-top: 1vh;
  background-color: rgba(148, 196, 125, 0.1764705882);
  padding: 0.5rem;
}
@media screen and (min-width: 1200px) {
  .home-text {
    align-self: center;
    margin: 50px;
    padding: 20px;
  }
}
.home-text .text-highlight {
  color: rgb(57, 172, 172);
  font-weight: 800;
}

.home__title {
  margin-top: 1rem;
  color: rgba(31, 82, 82, 0.945);
  font-size: 1.8rem;
  text-align: center;
  font-weight: 400;
  text-shadow: 4px 3px 0px rgba(122, 122, 122, 0.2392156863);
}

.home__subtitle {
  color: black;
  font-size: 0.95rem;
  text-align: center;
  margin: 3%;
}

.home {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.home .home-card {
  padding: 2px;
  border: rgb(147, 196, 125) solid 1px;
  margin: 10px;
  max-width: 300px;
  min-height: 300px;
}
.home .home-card .home-card__img {
  position: absolute;
  width: 294px;
  opacity: 0.8;
}
.home .home-card .home-card__description {
  width: 294px;
  height: 294px;
  position: relative;
  color: rgb(255, 255, 255);
  animation: background 7s infinite;
}
.home .home-card .home-card__description .home-card__title {
  font-size: 1.2rem;
  padding: 3rem;
  text-decoration: underline;
  text-align: center;
  animation: titulo 7s infinite;
}
.home .home-card .home-card__description .home-card__title a {
  color: #ffffff;
  animation: titulo 7s infinite;
}
.home .home-card .home-card__description .home-card__txt {
  padding: 0px 15px;
  text-align: center;
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
  font-weight: 800;
  line-height: 1.3rem;
  animation: texto 7s infinite ease-in-out;
}

@keyframes background {
  0% {
    background-color: rgba(28, 55, 66, 0.61);
  }
  50% {
    background-color: rgba(57, 172, 172, 0.397);
  }
  50% {
    background-color: rgba(57, 172, 172, 0.397);
  }
  100% {
    background-color: rgba(28, 55, 66, 0.61);
  }
}
@keyframes titulo {
  0% {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
  }
  50% {
    color: rgb(28, 55, 66);
    font-size: 1.23rem;
  }
  50% {
    color: rgb(28, 55, 66);
    font-size: 1.23rem;
  }
  100% {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
  }
}
@keyframes texto {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (min-width: 1200px) {
  .home-lg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 10vh;
  }
}

.faqs__intro .faqs__title {
  margin-bottom: 1vh;
  font-size: 1.3rem;
}
.pedido-p {
  text-align: end;
}

.aside {
  margin-right: 3%;
}

.contact__section--1 {
  max-width: 60%;
}
@media screen and (min-width: 768px) {
  .contact__section--1 {
    max-width: 90%;
  }
}

.datos-contacto--small {
  font-size: 0.8rem;
  text-align: left;
  padding: 0%;
}

.input {
  margin: 1vh 0vw;
  width: 100%;
}

.div-selection {
  display: flex;
  justify-content: space-between;
}
.div-selection .div-number {
  width: 40%;
}
.button--submit {
  width: fit-content;
}

.main__section {
  text-align: center;
}
.main__section .main__p {
  font-size: 0.9rem;
  margin: 1.5rem;
  line-height: 1.5rem;
}
.main__section .main__p--justify {
  text-align: justify;
  padding-left: 1vw;
}

/*# sourceMappingURL=styles.css.map */
