// Colors

$verde-muyclaro: rgb(198, 221, 186); 
$verde-claro: rgb(187, 219, 171);
$verde-medio: rgb(147, 196, 125);
$verde-oscuro-transp:#94c47d2d;

$celeste: rgb(30, 187, 226);

$azul-muyclaro:rgb(206, 223, 223);
$azul-claro: rgb(57, 172, 172);
$azul-medio: rgb(21, 103, 109);
$azul-medio-2:rgba(31, 82, 82, 0.945); 
$azul-oscuro: rgb(28, 55, 66);
$azul-negro: rgb(12, 41, 46);

$blanco: rgb(255, 255, 255);
$gris-claro: rgb(245, 244, 244);
$gris-claro2: rgb(236, 236, 236);
$negro: rgb(1, 14, 14);


