.main__section {
    text-align: center;
    .main__p {
        font-size: .9rem;
        margin: 1.5rem;
        line-height: 1.5rem;
    }
    .main__p--justify {
        text-align: justify;
        padding-left: 1vw;
    }
}