* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

a {
    text-decoration: none;
    color: $azul-medio-2;
    &:hover{
        color: $negro;
    }
}

ul {
    list-style: none;
    padding: 0%;
}